/* @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .5s;
  /* font-family: "Kumbh Sans", sans-serif; */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0e4bf1;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.header_menu {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 80px;
  /* border-bottom: 1px solid; */
  box-shadow: 0px 0.5px 0 0 rgb(180, 177, 177);
  position: relative;
}

.menu_title-pagina {
  display: flex;
  margin: 0 10px 0 10px;
}

.menu_container {
  display: flex;
  width: 70%;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.menu_container-list {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.menu_list {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 10px 0 10px;
}

.menu_list:hover {
  border-bottom: 3px solid orange;
  transition: .2s;
}

.carrito-login {
  width: 25%;
  display: flex;
  /* position: relative; */
  justify-content: space-evenly;
}

.icon-menu {
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon-menus {
  display: flex;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
}

.carrito_cotenido {
  position: absolute;
  right: 0px;
  top: 100%;
  background: #f4f2f2;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 300px;
  height: 230px;
  z-index: 100;
  box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
}

.mostrar {
  display: flex;
}

.contenido_carrito {
  display: flex;
  width: 100%;
  margin: 10px 0 10px 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.checkout {
  background: rgb(255 125 25);
  width: 90%;
  margin: 0 0 10px 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
}

.title_cart {
  display: flex;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.line {
  display: flex;
  width: 100%;
  height: 2px;
  box-shadow: 0px 0.5px 0 0 rgb(90, 85, 85);
}

.compras_productos {
  height: 150px;
  overflow: auto;
}

.img-carrito {
  width: 35px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
}

.contenido_carrito-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
}

.title_carrito-product {
  font-size: 15px;
  margin: 5px;
}

.precio_product-carrito {
  display: flex;
  margin: 0 10px 0 0;
}

.precio_original-carrito {
  margin-left: 10px;
  font-weight: bold;
}

.img_basura-dalate {
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.container-product {
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* outline: 1px solid red; */
}

.container_produt_img {
  display: flex;
  width: 400px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
  /* outline: 1px solid red; */
}

.produc_img {
  display: flex;
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.container_img-vistas {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 10px;
}

.container_img-prodcut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  outline: 3px solid orange;
}

.container_product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 350px;
}

.produc_img-vist {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.produc_img-vist:hover {
  filter: opacity(50%);
}

.container_informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 380px;
  position: relative;
  z-index: 1;
  /* outline: 1px solid red; */
}

.title_pagina {
  color: orange;
}

.title_product {
  font-size: 33px;
}

.precio_descuento {
  display: flex;
  font-size: 23px;
}

.descuento_porcentaje {
  display: flex;
  width: 40px;
  height: 20px;
  background: #f4a106;
  opacity: 0.5;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  left: 25%;
  top: -10%;
}

.descuento_cantidad {
  position: absolute;
  display: flex;
  left: 29%;
  top: 51.5%;
  color: rgb(255 125 25);
  font-weight: bold;
  font-size: 15px;
  background: transparent;
  border-radius: 10px;
}

.precio_original {
  display: flex;
  text-decoration: line-through;
  opacity: 0.5;
}

.descripcion {
  display: flex;
  width: 95%;
}

.disponibles_cant{
  font-weight: bold;
}

.agregar_carrito {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 50px;
}

.agregar_product-carrito {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  height: 40px;
  background: #e7e7e7;
  border-radius: 10px;
}

.btn_agregar {
  color: #f98b0d;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
}

.agregar_cantidad-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 40px;
  background: #f98b0d;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.icon-cart-product {
  display: flex;
  height: 15px;
  margin: 10px;
  filter: invert(0);
  color: white;
}

.container_gallery {
  display: none;
  position: fixed;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(43, 42, 42, 0.8);
  z-index: 100000;
  top: 0;
  left: 0;
}

.mostrar_galery {
  display: flex;
}

.container_gallery-vista {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-icon-close {
  position: absolute;
  top: 5%;
  right: 33%;
  fill: #f98b0d;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.btn_galery {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.icon-previous {
  position: absolute;
  left: 0;
}

.icon-next {
  position: absolute;
  right: 0;
}

.img_gallery {
  width: 400px;
  height: 350px;
}

.container_img-galery {
  display: flex;
  margin: 10px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.container_img-gallery {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  outline: 3px solid #ff7d1a;
}

.produc_img-gallery {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ocultar-btn {
  display: none;
}

.icon-previouss {
  display: none;
}

.icon-nexts {
  display: none;
}

@media (max-width: 768px) {
  .header_menu {
    width: 95%;
  }

  .menu_title-pagina {
    margin-left: 50px;
    font-size: 33px;
  }

  .menu_container {
    height: 100vh;
    width: 300px;
    transform: translateX(-300px);
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    background: whitesmoke;
    /* display: none; */
  }

  .mover_izq {
    transform: translateX(0);
    transition: 0.5s;
  }

  .menu_container-list {
    flex-direction: column;
    height: 60vh;
    margin-top: 50px;
  }

  .menu_list {
    height: 80px;
  }

  .carrito-login {
    width: 60%;
    justify-content: flex-end;
    gap: 10px;
    /* position: absolute; */
    z-index: 9;
  }

  .icon-menu {
    margin: 10px;
    z-index: 1000;
  }

  .icon_menu {
    display: flex;
    margin: 10px;
  }

  .ocultar {
    display: none;
  }

  .carrito_cotenido {
    right: 6%;
    width: 350px;
    height: 250px;
  }

  .container-product {
    width: 95%;
    margin: 10px auto;
  }

  .container_informacion {
    width: 90%;
  }

  .container_produt_img {
    width: 100%;
  }

  .container_product-img {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .icon-previouss {
    display: flex;
    position: absolute;
    left: 0;
  }

  .icon-nexts {
    display: flex;
    position: absolute;
    right: 0;
  }

  .produc_img {
    width: 100%;
  }

  .ocultar-btn {
    display: none;
  }

  .agregar_carrito {
    flex-direction: column;
    height: 90px;
    width: 90%;
    align-items: center;
    align-self: center;
  }

  .agregar_product-carrito {
    width: 95%;
  }

  .agregar_cantidad-product {
    width: 95%;
    height: 40px;
  }

  .descuento_porcentaje{
   left:25% ;
   top:-8% ;
  }

  .descuento_cantidad {
    left: 29%;
    top: 47.5%;
  }

  .container_img-vistas {
    display: none;
  }

  .container_gallery {
    display: none;
  }
}
